@keyframes pulse{
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.shimmerCard {
  width: 100%;
  aspect-ratio: var(--aspect-video);
  border-radius: var(--spacing-xs);
  background-color: var(--shimmer-background);
  animation: pulse 2s ease-in-out infinite;
  will-change: opacity;
} 