.apodCard {
  display: block;
}

.apodCard:hover,
.apodCard:focus {
  transform: scale(1.01);
  transition: transform 0.1s ease-in-out;
}

.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden; 
  border-radius: 4px;
  background-color: var(--shimmer-background);
}

.apodCard__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.apodCard__image.imageLoaded {
  opacity: 1;
}