.header {
  background-color: var(--background);
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--border-color);
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleLink {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--link-color);
  transition: color 0.3s ease;
} 