.toggleButton {
  padding: var(--spacing-xs); 
  border-radius: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.toggleButton:hover {
  background-color: var(--button-hover-bg);
}

.icon {
  height: var(--spacing-lg);
  width: var(--spacing-lg);
  display: block;
}

.sunIcon {
  color: var(--toggle-sun-icon-color);
}

.moonIcon {
  color: var(--toggle-moon-icon-color);
} 

.placeholder {
  height: var(--spacing-lg);
  width: var(--spacing-lg);
} 